<!--div class="col-10 md:col-6 lg:col-6">
    <div class="flex flex-row flex-wrap card-container custom-top">
        <div class="col-12 text-4xl flex font-bold align-items-center text-white-500 m-2" style="text-align: center !important;">
            Graphique d'Evolution d'un Placement
        </div>
    </div>
</div>


<div class="grid">


    <div class="col-12 md:col-4 lg:col-2">
        <p-fieldset legend="Investissement" class="company-theme">
            <div class="grid">
                <div class="field col-12">
                    <label for="capital">Capital investi</label>
                    <p-inputNumber inputId="capital" [(ngModel)]="capital"
                                   [min]="0" (onBlur)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label for="duree">Horizon de placement (Nbres d'Années)</label>
                    <p-inputNumber inputId="duree" [(ngModel)]="duree"
                                   [min]="0" [max]="20" (onBlur)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label for="debut">Date du premier placement</label>
                    <p-calendar [(ngModel)]="debut" [showIcon]="true" inputId="debut"
                                (onSelect)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label>Intérêt</label><br>
                    <p-tag severity="info">
                        <span class="value-display">{{ interet | separateurMillier }}</span>
                    </p-tag>
                </div>
                <div class="field col-12">
                    <label>Capital + Intérêts</label><br>
                    <p-tag severity="success">
                        <span class="value-display">{{ capitalInteret | separateurMillier }}</span>
                    </p-tag>
                </div>
            </div>
        </p-fieldset>
    </div>

    <div class="col-12 md:col-8 lg:col-10">
        <p-chart type="bar" [data]="data" [options]="options"></p-chart>
    </div>

</div-->


<div class="col-12 text-center my-3">
    <h1 class="text-4xl font-bold text-primary">Graphique d'Evolution d'un Placement</h1>
</div>


<div class="grid">
    
    <div class="col-12 md:col-10 lg:col-2">
        <p-fieldset legend="Investissement" styleClass="investment-form">
            <div class="grid">
                <div class="field col-12">
                    <label for="capital">Capital investi</label>
                    <p-inputNumber inputId="capital" [(ngModel)]="capital"
                                  [min]="0" (onBlur)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label for="duree">Horizon de placement (Nbres d'Années)</label>
                    <p-inputNumber inputId="duree" [(ngModel)]="duree"
                                  [min]="0" [max]="20" (onBlur)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label for="debut">Date du premier placement : </label>
                    <p-calendar [(ngModel)]="debut" [showIcon]="true" inputId="debut"
                              (onSelect)="onCapitalChange()"/>
                </div>
                <div class="field col-12">
                    <label>Intérêt : </label>
                    <p-tag severity="info" styleClass="result-tag">
                        <span class="value-display">{{ interet | separateurMillier }}</span>
                    </p-tag>
                </div>
                <div class="field col-12">
                    <label>Capital + Intérêts : </label>
                    <p-tag severity="success" styleClass="result-tag">
                        <span class="value-display">{{ capitalInteret | separateurMillier }}</span>
                    </p-tag>
                </div>
            </div>
        </p-fieldset>
    </div>

    
    <div class="col-12 md:col-8 lg:col-9">
        <div class="chart-container">
            <p-chart type="bar" [data]="data" [options]="options"></p-chart>
        </div>
    </div>
</div>